<!-- ----- début fragmentCaveMenu -->
<div class="menu"><nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="router2.php?action=CaveAccueil">SUARD MAGNIER</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                       aria-haspopup="true" aria-expanded="false">Gestion des vaccins <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="router.php?action=vaccinReadAll">Liste des vaccins</a></li>
                        <li><a href="router.php?action=vaccinCreate">Ajout d'un vaccin</a></li>
                        <li><a href="router.php?action=vaccinUpdate">Mise à jour d'un vaccin</a></li>
                    </ul>
                </li>   
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                       aria-haspopup="true" aria-expanded="false">Gestion des centres <span class="caret"></span></a>
                    <ul class="dropdown-menu">            
                        <li><a href="router.php?action=centreCreate">Ajout d'un centre</a></li>
                        <li><a href="router.php?action=centreReadAll">Listes des centres</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                       aria-haspopup="true" aria-expanded="false">Gestion des patients <span class="caret"></span></a>
                    <ul class="dropdown-menu">            
                        <li><a href="router.php?action=patientCreate">Ajout d'un patient</a></li>
                        <li><a href="router.php?action=patientReadAll">Liste des patients</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                       aria-haspopup="true" aria-expanded="false">Gestion des stocks de vaccins <span class="caret"></span></a>
                    <ul class="dropdown-menu">            
                        <li><a href="router.php?action=liste">Liste des centres avec le nombre de dose de chaque vaccin</a></li>
                        <li><a href="router.php?action=nbdoses">Nombre global de doses des centres</a></li>
                        <li><a href="router.php?action=attribution">Attribution de vaccins pour un centre</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                       aria-haspopup="true" aria-expanded="false">Gestion des rendez-vous de vaccination <span class="caret"></span></a>
                    <ul class="dropdown-menu">            
                        <li><a href="router.php?action=rendezvous">Dossier de vaccination d'un patient</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                       aria-haspopup="true" aria-expanded="false">Mes innovations <span class="caret"></span></a>
                    <ul class="dropdown-menu">            
                        <li><a href="router.php?action=centreVaccin">Innovation 1</a></li>
                        <li><a href="router.php?action=nonvaccine">Innovation 2</a></li>
                        <li><a href="router.php?action=vaccinSomme">Innovation 3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                       aria-haspopup="true" aria-expanded="false">Documentation<span class="caret"></span></a>
                    <ul class="dropdown-menu">            
                        <li><a href="router.php?action=doc1">Doc innovation 1</a></li>
                        <li><a href="router.php?action=doc2">Doc innovation 2</a></li>
                        <li><a href="router.php?action=doc3">Doc innovation 3</a></li>
                        <li><a href="router.php?action=pointdevue">PDV projet</a></li>
                    </ul>
                </li>  
            </ul>
        </div>
    </nav>
</div>
<!-- ----- fin fragmentCaveMenu -->

