
body {
    background-color: white;
}

.container {
    margin-top: 80px;
    background-color: lemonchiffon;
    width: 90%;
}

.jumbotron {
  background-color: orangered;  
}
.menu{
    width:100%;
    font-size: 10px;
}